<div id="checkOutClassItem">
        <div>
            <p><span> {{this.name}}</span> With <span>{{this.instructorName}} </span></p>
            <p>Duration: {{this.duration}}</p>

        </div>
        <button>
            Remove
        </button>
</div>