<div id="checkOutClassItem">
    <form>
        <div>
         <p><span>Jumba Class</span> With <span>Gulprit</span></p>
        <p>Duration: 45 Min</p>

        </div>
        <button>
            Remove
        </button>
    </form>
</div>