<div>
    <img src="https://cdn.expatwoman.com/s3fs-public/editorial/zumba_-_patry_zumba_com.jpg"/>
    <div>
        <h2><span>Jumba Class</span> With <span>Gulprit</span></h2>
        <p>Duration: 45 Min</p>
        <button>Book Now</button>
    </div>
</div>