
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />
    <title>Document</title>
</head>
<body>
   <header>
    <h1>Get Fit</h1>
    {{!-- {{#if}} --}}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/class">Classes</a></li>
        <li><a href="/cartDom">Cart</a></li>
        {{#if this.isLogin}}
        <li><a href="/logoutDom">Logout</a></li>
        {{else}}
        <li><a href="/loginDom">Login</a></li>
        {{/if}}
        {{!-- {{#if this.isAdmin}} --}}
            <li><a href="/adminPage">Admin</a></li>
        {{!-- {{/if}} --}}
        
    </ul>

   </header>
{{{body}}}

</body>
</html>
