<section>
    <h1>Name</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Adress</th>
            <th>isMember</th>
            <th>Price</th>
        </tr>
        <tr>
            <td> Gopal</td>
            <td>Gopal </td>
            <td> Ture</td>
        </tr>
    </table>
    {{!-- {{#each}} --}}
        
    {{!-- {{/each}} --}}
</section>