<div id="error">
    <div>
<h2>Error</h2>
<p>{{this.message}}</p>
<br>
<a href="/class" style="color: white;">View Classes</a>
    </div>
    <div>
        <img src="http://cdn.onlinewebfonts.com/svg/img_526949.png"/>
    </div>

</div>